body {
  font-family: sans-serif;
}
.container {
  display: grid;
  grid-gap: 1rem;
  max-width: 748px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-top: 20px;
}

.sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  border: none;
  padding: 20px;
  border-radius: 5px;
  background: lightgray;
}

.section-veiculo {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  border: none;
  padding: 20px;
  border-radius: 5px;
  background: lightgray;
}

.campos {
  display: grid;
  grid-gap: 0.3rem;
  text-align: center;
  align-items: center;
  padding: 5px;
}

.titulo {
  text-align: center;
}
.container input {
  border-radius: 5px;
  padding: 0.3rem;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.input-grande {  
  max-width: 8.5rem;
  /* min-width: 180px; */  
}

.input-curto {
  max-width: 2rem;
  /* min-width: 180px; */
  border-radius: 5px;
  padding: 0.3rem;
  margin-left: auto;
  margin-right: auto;
}

.input-medio {
  max-width: 4rem;
  /* min-width: 180px; */
  border-radius: 5px;
  padding: 0.3rem;
  margin-left: auto;
  margin-right: auto;
}

.inputs-cadastro {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 5rem;
  padding: 5rem;
  margin: 5rem;
  border: solid 1px lightgrey; 
}

textarea {
  height: 4rem;
}