@font-face {
  font-family: 'robotoregular';
  src: url('/css/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('/css/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}